
{% extends 'base.html' %}

{% block contenido %}
<form method="POST">
  
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="color: black; font-style: oblique">
      <br><br><br><br><br><br><br>
      <h1 align="center">Bienvenidos a Cardigan Store</h1>
    </div>
    <div class="carousel-item">
     <h3>ASF</h3>
      </div>
    <div class="carousel-item">
    <H1>12345</H1>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</form>
{% endblock %}

       