{% extends 'base.html' %}

{% block contenido %}
<br><br>
<h2><center>listado de facturas</center></h2>
<br>
<table border="1" class="table table-striped" >
	<tr>
		<td class="danger"><font size ="3", color="black"><strong>codigo de factura</strong></td>
		<td class="danger"><font size ="3", color="black"> <strong>nombre de venta</strong></td>
		<td class="danger"><font size ="3", color="black"><strong>codigo de producto</strong></td>
		<td class="danger"><font size ="3", color="black"><strong>cantidad de producto</strong></td>
		<td class="danger"><font size ="3", color="black"><strong>precio unitario</strong></td>
		<td class="danger"><font size ="3", color="black"><strong>precio total</strong></td>
		<td class="danger"><font size ="3", color="black"><strong>fecha factura</strong></td>

		
	</tr>
	{% for  est in object_list %}
	<tr>
		<td > {{ est.codigo_detalle}}</td>
		<td > {{ est.codigo_venta}}</td>
		<td > {{ est.codigo_inventario}}</td>
		<td > {{ est.cantidad_producto}}</td>
		<td > {{ est.Precio_unitario}}</td>
		<td > {{ est.precio_total}}</td>
		<td > {{ est.fecha_detalle}}</td>
	</tr>
	{% endfor %}
</table>


{% endblock %}